.info-windows {
  min-width: 280px;
  background: #ffffff;
  color: #333;
  margin: 0px;
  max-width: none;
  padding: 10px 15px;
  border: 2px solid #ccc;
}

.info-windows h1 {
  font-size: 20px;
  margin: 5px 0px;
  color: #ff3300;
  font-weight: bold;
  font-family: "myriad-pro-condensed", sans-serif;
}

.info-windows h2 {
  font-size: 14px;
  margin: 4px 0px;
  color: #333;
  font-weight: bold;
  font-family: "myriad-pro-condensed", sans-serif;
}

.info-windows h2.church-label {
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.info-windows hr {
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: -6px;
}

.info-windows .button-group {
  margin-top: 10px;
}

/* INACTIVE H2 STYLES */

h2.inactive {
  display: none;
}

.button-group {
  clear: both;
}

.dayBox {
  padding: 0 6px;
  margin: 5px 70px 10px 0px;
}

.dayBox span {
  color: #999999;
  font-size: 16px;
  padding: 6px 2px;
  float: left;
}

.dayBox .activeDay {
  color: #ff3300;
  font-weight: bold;
}

.i-box {
  width: 144px;
  height: 106px;

  color: #333;
  max-width: none;
}

.i-str {
  width: 106px;
  height: 18px;
  top: 80px;
  left: 32px;

  background-color: #fff;

  margin-bottom: 1px;
  padding: 6px 2px 2px 4px;
  position: absolute;
}

#map_canvas {
  height: 400px;
  max-width: 1175px;
}

select.church-map {
  width: 200px;
}

#map_canvas img {
  /* Google Map fix for Twitter bootstrap */
  max-width: none;
}

#map-filters {
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
}

#map-filters #select-type {
  display: none;
}

#map-filters .custom.dropdown {
  display: inline-block;
  margin-right: 10px;
}


#map-filters .dropdown:last-child {
  display: none;
  visibility: hidden;
}

#map-filters .dropdown:first-child {
  width: 254px !important;
}

#map-filters .custom.checkbox {
  margin-right: 5px;
}

#map-filters #centerMap {
  top: -3px;
  margin-right: 10px;
}


.form-item-email span.label,
.form-item-message span.label,
.form-item-name span.label {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 500;
  background: none;
}

#action-form .label-clone {
  font-size: 16px;
  color: #4d4d4d;
  font-weight: 500;
  background: none;
}
